$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$secondary-black-color: #2f303a;
$secondary-bg: #f5f4fa;
$accent-color: #2196f3;
$subtitle-1: 16px;
$subtitle-2: 14px;
